<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
     <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="icon" href="{{ url_for('static', filename='/img/titleicon.png') }}">


</head>
<style>
    span{
     color:red;
    }
</style>
<body>
    {% if session['role']%}
    {% if type=='view'%}
    <script>
        // Function to disable all form elements within the "Marketing" form
        function disableFormElements() {
            // Get the form elements container with the ID "Marketing"
            var marketingForm = document.getElementById('HRForms');

            // Get all form elements inside the "Marketing" form
            var formElements = marketingForm.querySelectorAll('input, textarea, select');

            // Loop through each form element and disable them
            for (var i = 0; i < formElements.length; i++) {
                formElements[i].disabled = true;
            }
        }

        // Call the function to disable form elements when the page loads
        window.onload = disableFormElements;
    </script>
    {% endif %}
    <section class="container">
       <div class="form-head">
        <img class="logo" src="{{ url_for('static', filename='/img/clickhr.png') }}" alt="">
           <a class="backtodashboard" href="{{ url_for('forms') }}">
             <i class="fa fa-arrow-left"></i>
             <p style="margin-bottom: 0px">Form History</p>
           </a>
       </div>        <header>One reporting form</header>
        <p>Each incident would have one report per occurrence.</p>
        <section class="form">


            <div class="HRForms" id="HRForms">
                <form action="/hrforms" method="post" class="form" enctype="multipart/form-data">
                    <div class="forsubform">
                        <div class="input-box">
                            <label>Form Filled By<span>*</span></label>
                            <input type="text" placeholder="Enter full name" name="name" value="{{formdata.name}}"
                                readonly />
                            <input type="text" placeholder="Enter Your name" name="user_id" hidden
                                value="{{session['user_id']}}" />
                                <input type="text" placeholder="Enter Your name" name="id" value="{{formdata.id}}" hidden
                                />
                        </div>
                        <div class="gender-box">
                            <h3>Which form<span>*</span><br>
                            </h3>
                            <div class="gender-option">
                                <div class="gender">
                                    <input type="radio" id="Marketing-radio" name="gender"
                                        onchange="showmaincontent('Marketing')" disabled />
                                    <label for="Marketing-radio">Marketing</label>
                                </div>
                                <div class="gender">
                                    <input type="radio" id="Recruiting-radio" name="gender"
                                        onchange="showmaincontent('recuriting')" disabled />
                                    <label for="Recruiting-radio">Recruiting</label>
                                </div>
                                <div class="gender">
                                    <input type="radio" id="HRforms-radio" name="gender"
                                        onchange="showmaincontent('HRForms')" checked disabled />
                                    <label for="HRforms-radio">HR forms</label>
                                </div>
                                <div class="gender">
                                    <input type="radio" id="Other-radio" name="gender"
                                        onchange="showmaincontent('Otherreport')" disabled />
                                    <label for="Other-radio">Other</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="HRForms-content">
                        <div class="subform-content-head">
                            <h2>HR Forms</h2>
                        </div>
                        <div class="input-box">
                            <label>Candidate Name<span>*</span></label>
                            <input type="text" placeholder="Enter full name"
                            value="{{formdata.candidate_name}}" name="cname" required
                                 />
                        </div>
                        <div class="gender-box">
                            <h3>Late or absent
                                <span>*</span><br>
                            </h3>
                            <div>
                                <div class="gender">
                                    <input type="radio" id="Late" name="Late/absent" value="late" {% if formdata.late == 'late' %} checked {% endif %}
                                        onchange="showDivform('Late')">
                                    <label for="Late">Late</label>
                                </div><br>
                                <div class="gender">
                                    <input type="radio" id="Absence" name="Late/absent" value="absence" {% if formdata.late == 'absence' %} checked {% endif %}
                                        onchange="showDivform('Absence')">
                                    <label for="Absence">Absence</label>
                                </div><br>
                                <div class="gender">
                                    <input type="radio" id="Incident" name="Late/absent" value="incident" {% if formdata.late == 'incident' %} checked {% endif %}
                                        onchange="showDivform('Incidentdiv')">
                                    <label for="Incident">Incident</label>
                                </div><br>
                                <div class="gender">
                                    <input type="radio" id="Requestforleave" name="Late/absent" value="request for leave"
                                        {% if formdata.late == 'request for leave' %} checked {% endif %}
                                        onchange="showDivform('Requestforleavediv')">
                                    <label for="Requestforleave">Request for leave</label>
                                </div>

                            </div>
                        </div>
                        <div class="gender-box">
                            <h3>Informed or uninformed
                                <span>*</span><br>
                            </h3>
                            <div>
                                <div class="gender">
                                    <input type="radio" id="Informed" name="Informed/uninformed" value="informed"
                                    {% if formdata.informed == 'informed' %} checked {% endif %} >
                                    <label for="Informed">Informed</label>
                                </div><br>
                                <div class="gender">
                                    <input type="radio" id="Uniformed" name="Informed/uninformed"
                                        value="uninformed" {% if formdata.informed == 'uninformed' %} checked {% endif %}>
                                    <label for="Uniformed">Uniformed</label>
                                </div><br>
                            </div>
                        </div>
                        <div class="leave-content" id="Requestforleavediv" style="display: none;">
                            <div class="subform-content-head">
                                <h2>Request for leave</h2>
                            </div>
                            <div class="input-box">
                                <label>Reason ( illness ,vacation, emergency) <span>*</span></label>
                                <textarea class="area-box" placeholder="Your Answer" name="reasonvacation" >{{formdata.reason_vacation}}</textarea>
                            </div>
                        </div>
                        <div class="input-box">
                            <label>Notes<span>*</span></label>
                            <textarea class="area-box" id="notes" name="notes" required>{{formdata.notes}}</textarea>
                        </div>
                    </div>
                    <br>

                    <br>
                    {% if type=='edit' %}
                    <button type="submit">Update</button>
                    {% endif %}
                </form>
            </div>
        </section>
    </section>
    {% endif %}
</body>
<script src="{{ url_for('static', filename='/js/onereport.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>

{% if formdata.late == 'request for leave' %}
<script>
    document.getElementById('Requestforleavediv').style.display = "block";
</script>
<script>

<!--display sweetalert(popup)-->
    document.querySelector('form').addEventListener('submit', function (event) {
        event.preventDefault();

        fetch('/hrforms', {
            method: 'POST',
            body: new FormData(event.target)
        })
        .then(response => response.json())
        .then(data => {
            if (data.message === 'success') {
                Swal.fire({
                    icon: 'success',
                    title: 'Success!',
                    text: 'Form updated successfully!',
                }).then(() => {
                    window.location.href = '{{ url_for('forms') }}';
                });
            } else {
                alert(data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred while updating the form.');
        });
    });
</script>
{% endif %}
</html>