<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Spartan' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/i8is.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>I8is</title>

</head>

<body>
     <!-- header -->
    <!-- preheader -->
    <div class="preheader">
        <div class="container">
            <div class="preheader-content">
                <div class="preheader-1">
                    <h6><i class="fa-solid fa-map-location-dot"></i>4370 Steeles Ave W, Unit 204 Woodbrige, ON</h6>
                </div>
                <div class="preheader-2"><a href="https://www.linkedin.com/company/i8is/"><i
                            class="fa-brands fa-linkedin" style="color: #ffffff;margin-right: -14px;font-size: 20px;"></i></a></i>
                </div>
            </div>
        </div>
    </div>
    <!-- header start -->
    <header id="hide-header">
        <nav class="custom_menu navbar navbar-expand-lg">
            <div class="container" style="    grid-template-columns: 19% 100%">
                <a class="navbar-brand navbar_logo" href="https://i8is.com/" target="_blank"><img
                        src="{{ url_for('static', filename='/img/New-Logo-min.png') }}" alt=""></a>
                <button class="navbar-toggler" id="mobile-menu-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="">
                    <ul class="navbar-nav " style="    padding-left: 330px">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="https://i8is.com/">Home
                            </a>
                            <div class="line"></div>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="https://i8is.com/portfolio/">Portfolio</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="https://i8is.com/career-in-i8is/">Career</a>
                            <div class="line"></div>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://i8is.com/about/">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="custom_login_button nav-link" style=" margin-left: -13px;"
                                href="https://i8is.com/contact" target="_blank">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="mobile-menu">
                <ul class="navlinks">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div> -->
            <div class="mobile-menu">
                <div class="logo"><a href="https://i8is.com/" target="_blank"><img src="{{ url_for('static', filename='/img/header_logo.png') }}"
                            alt=""></a><i class="fa-solid fa-circle-xmark" id="mobile_menu_close_button"></i></div>
                <ul class="navbar-nav navlinks">
                    <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="https://i8is.com/">Home
                            </a>
                            <div class="line"></div>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="https://i8is.com/portfolio/">Portfolio</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="https://i8is.com/career-in-i8is/">Career</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://i8is.com/about/">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="custom_login_button nav-link" style=" margin-left: -13px;"
                                href="https://i8is.com/contact" target="_blank">Contact</a>
                        </li>
                </ul>
            </div>
            <div class="mobile_body_overlay"></div>
        </nav>
    </header>
    <!-- header end -->
    <!-- body -->
    <!-- banner -->

    <div class="careers">
        <div class="container">

            <h4  class="career1"  style=" padding-top: 127px;"> Grow and Innovate</h4>
            <h1 class="career2">Career in <span style="color: #0859D7;">I8IS</span> </h1>
            <h1 class="career3">Why Join Infiniti International Solutions?</h1>
            <p class="">It’s the transition towards a rewarding career in i8is with unlimited possibilities for growth. Surround
                yourself with dedicated and motivated people like yourself who work together not just as colleagues and
                a team, but as a family – as the Infiniti International Solutions family. Browse through our current
                openings and get in touch now. If you don’t find any listed opening relevant to your profile, feel free
                to reach out anyway, and tell us why you might be a good fit.</p>
        </div>
    </div>

    </div>



    <div class="banner">
        <div class="container">

            <div class="banner-content">
                <h1>Jobs</h1>
            </div>

        </div>
    </div>
    <!-- filters -->
<!--    <div class="filters">-->
<!--        <div class="container">-->
<!--            <div class="filters-content">-->
<!--                <select name="All Jobs Catogory" class="select-1" id="">-->
<!--                    <option value="">All Jobs Catogory</option>-->
<!--                    <option value="">Administrative</option>-->
<!--                    <option value="">constrcution</option>-->
<!--                    <option value="">designer</option>-->
<!--                    <option value="">developer</option>-->
<!--                    <option value="">driver</option>-->

<!--                </select>-->
<!--                &lt;!&ndash; Select-2 &ndash;&gt;-->
<!--                <select name="All Jobs Catogory" class="select-1" id="">-->
<!--                    <option value="">All Jobs Type</option>-->
<!--                    <option value="">Full Time</option>-->
<!--                    <option value="">Part Time</option>-->


<!--                </select>-->
<!--                &lt;!&ndash; Select-3 &ndash;&gt;-->
<!--                <select name="All Jobs Catogory" class="select-1" id="">-->
<!--                    <option value="">All Jobs Location</option>-->
<!--                    <option value="">Karachi</option>-->
<!--                    <option value="">Canada</option>-->
<!--                    <option value="">Lalokhet</option>-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- Dynamic Job Posting -->
    <div class="job-posting">
        <div class="container">
            <div class="job-posting-content">
                <ul class="job-post-ul">
                {% if alljobs %}
                 {% for data in alljobs %}

                    <li class="job-posting-content-post">
                        <div class="job-field">
                            <div class="job-field-1">
                                <h2 id="job-name"> <a href="#">{{ data.title.title() }}</a></h2>
                            </div>
                            <div class="job-field-2">
                                <h3>{{data.job_type}}</h3>
                                <h3>{{data.location.title()}}</h3>
                                <h3 class="more-detail" onclick="window.location='{{ url_for('i8isjobdetails', id=data.id) }}'"><a href="#">More Detail→ </a></h3>

                            </div>





                        </div>
                    </li>
                   {% endfor %}

                 {% else %}
                    <h1 style="margin-top:10px; text-align:center; font-size:18px">No jobs..</h1>
                 {% endif %}
                </ul>
            </div>
<!--            <button>Load More...</button>-->
        </div>
    </div>

    <!-- footer start here -->
 <div class="prefooter">
        <div class="container">

            <div class="footerline">
                <h2 style="color: white;">Looking for the Best IT Business Solutions?</h2>
                <button class="btf"><a href="https://i8is.com/contact">Get a quote</a></button>
            </div>

        </div>
    </div>



    <footer class="footer-main" style="background-color: black;">
        <div class="container">

            <div class="address-main row">
                <div class="col-lg-4 col-sm-12 col-xs-12">
                    <div class="address-box clearfix">
                        <div class="add-icon"><a href="https://i8is.com/" target="_blank">
                                <img src="{{ url_for('static', filename='/img/new-Logo-White-min.png') }}" alt=""></a>
                        </div>
                        <div class="add_content1 add-content">

                            <p class="custom_branch_address text"><span
                                    class="custom_icon_address_text" >Your Gateway to Digital
                                    Excellence. We specialize in creating custom software development, stunning
                                    websites, innovative web solutions, and captivating designs to help businesses
                                    thrive in the digital landscape.</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-xs-12">
                    <div class="address-box2 address-box clearfix">
                        <div class="add_content2 add-content">
                            <h5>Address</h5>
                            <ul >
                                <li><i class="fa-solid fa-location-dot" style="color: white;"></i><a
                                        href="https://i8is.com/" target="_blank" >4370 Steels Ave
                                        W #204 Woodbridge, ON L4L 4Y4, CANADA</li>


                                <li><i class="fa-solid fa-location-dot" style="color: white;"></i> <a
                                        href="https://i8is.com/services/" target="_blank">
                                        Mezzanine Floor, United Castle, I8is, AR-01, Block 10 Gulshan-e-Iqbal, Karachi,
                                        75300 PAKISTAN</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-xs-12">
                    <div class="address-box3 address-box clearfix">
                        <div class="add_content3 add-content">
                            <h5 >Contact</h5>
                            <p><a href="tel:+1 647-930-0988" target="_blank" style="text-decoration:none"
                                    class="footer_custom_icon_links"><i aria-hidden="true"
                                        class="custom_phone fas fa-phone" style="color: white;"> </i><span
                                        class="custom_icon_text" >+1 647-930-0988</span></a></p>
                            <p><a href="https://www.linkedin.com/company/i8is/" target="_blank" style="text-decoration:none"
                                    class="footer_custom_icon_links"><i class="fa-brands fa-linkedin-in"
                                        style="color: #ffffff;"></i><span class="custom_icon_text"></span></a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- Copyright Footer -->
        <footer class="footer-second text-center text-white">
            <!-- Copyright -->
            <div class="text-center " style="background-color: black;    border-top: 1px solid;">
                <h6>© 2024 i8is. All Rights Reserved.</h6>

            </div>
            <!-- Copyright -->
        </footer>
    </footer>







    <script src="script.js"></script>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
<script>
    document.getElementById('mobile-menu-button').onclick = function () {
        document.body.classList.toggle("slide-right");
        document.querySelector('.mobile_body_overlay').classList.toggle("mobile_body_overlay_on")
    }

    // Select the .mobile_body_overlay element
    const mobileBodyOverlay = document.querySelector('.mobile_body_overlay');

    // Add a click event listener to the .mobile_body_overlay element
    mobileBodyOverlay.addEventListener('click', function () {
        // Remove the "slide-right" class and "mobile_body_overlay_on" class
        document.body.classList.remove("slide-right");
        mobileBodyOverlay.classList.remove("mobile_body_overlay_on");
    });

    document.getElementById('mobile_menu_close_button').onclick = function () {
        document.body.classList.remove("slide-right");
        document.querySelector('.mobile_body_overlay').classList.remove("mobile_body_overlay_on")
    }

    var prevScrollpos = window.pageYOffset;
    window.onscroll = function () {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.getElementById("hide-header").style.top = "0px";
        } else {
            document.getElementById("hide-header").style.top = "-85px"; /* adjust this value to the height of your header */
        }
        prevScrollpos = currentScrollPos;
    }

</script>

</html>