<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Spartan' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/website.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/headerfooter.css') }}">

    <title>Geox Hr</title>
</head>
<style>
        .jobTitleMain {
            background-image: url("{{ url_for('static', filename='img/page-header-default.jpg') }}");
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 150px 0;
        }
    </style>
<body>
<header id="hide-header">
        <nav class="custom_menu navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand navbar_logo" href="https://geoxhr.com/" target="_blank">
                        <img class="logoImg" src="{{ url_for('static', filename='/img/Logo2.png') }}" alt=""></a>
                <button class="navbar-toggler" id="mobile-menu-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="https://geoxhr.com/"
                                target="_blank">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://geoxhr.com/about-us/" target="_blank">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://geoxhr.com/clients/" target="_blank">Clients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://geoxhr.com/services/" target="_blank">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" target="_blank">Apply</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://geoxhr.com/contact-us/" target="_blank">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="custom_login_button nav-link" href="https://geoxhr.com/reports/"
                                target="_blank">Employee
                                Login</a>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- <div class="mobile-menu">
                <ul class="navlinks">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div> -->
            <div class="mobile-menu">
                <div class="logo"><a href="https://geoxhr.com/" target="_blank"><img src="./images/header_logo.png"
                            alt=""></a><i class="fa-solid fa-circle-xmark" id="mobile_menu_close_button"></i></div>
                <ul class="navbar-nav navlinks">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="https://geoxhr.com/"
                            target="_blank">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://geoxhr.com/about-us/" target="_blank">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://geoxhr.com/clients/" target="_blank">Clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://geoxhr.com/services/" target="_blank">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://geoxhr.com/apply/" target="_blank">Apply</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://geoxhr.com/contact-us/" target="_blank">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="custom_login_button nav-link" href="https://geoxhr.com/reports/"
                            target="_blank">Employee Login</a>
                    </li>
                </ul>
            </div>
            <div class="mobile_body_overlay"></div>
        </nav>
    </header>
    <div class="mainwrapper">
        <div class="jobTitleMain">
            <div class="container">
                <div class="jobTitleContent">
                    <div class="jobName">
                        <h4>Apply</h4>
<!--                        <a href="/addnewemployee/register" style="display: block; text-align: center;color: #ffff;" >Login as candidate</a>-->
                    </div>
                </div>
            </div>
        </div>
         <!-- ahad new -->
 <div class="work">
    <div class="container">
        <div class="workcontent">
            <h2 class="workh">HOW WE HIRE? </h2>
            <p class="workp">Your Personalized Career Dashboard:
                Upon successful registration, unlock your personalized dashboard. Here, you can effortlessly track every move of your application journey:</p>
            <div class="working">
                <div class="row">
                    <div class="col">
                        <img class="colimg" src="{{ url_for('static', filename='/img/1.png') }}" alt="">
                        <h2 class="colh">Applied</h2>
                        <p class="colp"> "Application Submitted  We've Got You!"</p>

                    </div>
                    <div class="col">
                        <img class="colimg" src="{{ url_for('static', filename='/img/2.png') }}" alt="">
                        <h2 class="colh">Resume Sent to Company</h2>
                        <p class="colp">"Making Introductions  Your Resume's Now with the Pros!"</p>

                    </div>
                    <div class="col">
                        <img class="colimg" src="{{ url_for('static', filename='/img/3.png') }}" alt="">

                        <h2 class="colh">Lock in a Date</h2>
                        <p class="colp"> "Big Moment Alert It's Time to Shine in the Interview!"</p>

                    </div>
                    <div class="col">
                        <img class="colimg" src="{{ url_for('static', filename='/img/4.png') }}" alt="">
                        <h2 class="colh">Candidate Placed</h2>
                        <p class="colp">"Congratulations! Your New Career Chapter Begins Now."</p>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
        <div class="jobs">
    <div class="container">
        <div class="jobscontent">
            <img class="job1" src="{{ url_for('static', filename='/img/team1.png') }}" alt="">
            <div class="job2">
                <h2 class="jobh">
                    Why Register with GEOX HR ?</h2>
                <p class="jobp">Instant Matches: Our advanced AI algorithm instantly matches your profile with suitable job openings.</p>

                <p class="subjobp"><img class="subjobimg" src="{{ url_for('static', filename='/img/tick.png') }}" alt="">We partner with leading companies across various industries.
                </p>
                <p class="subjobp"><img class="subjobimg" src="{{ url_for('static', filename='/img/tick.png') }}" alt="">Say goodbye to endless job searches. Let the opportunities come to you.
                </p>
                <p class="subjobp"><img class="subjobimg" src="{{ url_for('static', filename='/img/tick.png') }}" alt=""> Get recommendations on courses and workshops that can boost your employability.
                </p>
                <a class="jobbtn" style="margin-top:10px; color:#ffff;" href="/getregistered" >Register Now</a>
<!--                <button class="jobbtn">Register Now</button>-->
            </div>
        </div>
    </div>
</div>

<!-- ahad new section -->
        <div class="jobsSearchMain">
            <div class="container">
                <div class="jobsFilter" style="margin-bottom:20px">
                    <div class="searchInputMain">
                        <div class="searchMainContent">
                            <input class="keywordSearch" type="text" placeholder="Keywords">
                        </div>
                        <div class="searchMainContentRight">
                            <input class="keywordSearch" type="text" placeholder="Keywords">
                        </div>
                    </div>
                    <button class="searchButton">SEARCH JOBS</button>
                </div>
                {% if alljobs %}

                {% for data in alljobs %}
                <div class="jobsContentMain" style="margin-bottom:30px" onclick="window.location='{{ url_for('jobdetail', id=data.id) }}'">
                    <div class="jobsLogoMain">
                    <img class="jobsLogoContentMain" src="{{ url_for('static', filename='/img/Logo2.png') }}" alt="">
                    </div>
                    <div class="jobTileHeading">
                        <h4 class="jobTileHeadingContent">{{ data.title.title() }}</h4>
<!--                        <h4 class="jobTileComapnyName">Company Tagline: <span-->
<!--                                class="jobTileComapnyNameContent">{{data.company.title()}}</span></h4>-->
                    </div>
                    <div class="jobLocationDetails">
                        <p class="jobLocationDetailsContent">{{data.location.title()}}</p>
                    </div>
                    <div class="jobTimePostedOn">
                        <p class="jobTimeDetails">Job Type: {{data.job_type}}</p>
                        <p class="postedOnDetails">Posted on {{data.formatted_time}}</p>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                    <h1 style="margin-top:10px; text-align:center; font-size:18px">No jobs..</h1>
                 {% endif %}
            </div>
        </div>
    </div>
 <footer class="footer-main">
        <div class="container">
            <div class="address-main row">
                <div class="col-lg-4 col-sm-12 col-xs-12">
                    <div class="address-box clearfix">
                        <div class="add-icon"><a href="https://geoxhr.com/" target="_blank">
                                <img src="./images/footer_logo.png" alt=""></a>
                        </div>
                        <div class="add_content1 add-content">
                            <h5>Branch Address</h5>
                            <p class="custom_branch_address"><i aria-hidden="true"
                                    class="custom_marker fas fa-map-marker-alt"></i><span
                                    class="custom_icon_address_text">4370 Steeles Ave W Unit 204 ROOM A, Woodbridge, ON
                                    L4L 4Y4, Canada.</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-xs-12">
                    <div class="address-box3 address-box clearfix">
                        <div class="add_content3 add-content">
                            <h5>Contact</h5>
                            <p><a href="mailto:info@geoxhr.com" target="_blank" style="text-decoration:none"
                                    class="footer_custom_icon_links"><i aria-hidden="true"
                                        class="custom_envelope fas fa-envelope"></i><span
                                        class="custom_icon_text">info@geoxhr.com</span></a></p>
                            <p><a href="tel:+16475789336" target="_blank" style="text-decoration:none"
                                    class="footer_custom_icon_links"><i aria-hidden="true"
                                        class="custom_phone fas fa-phone"></i><span class="custom_icon_text">+1
                                        647-578-9336</span></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-xs-12">
                    <div class="address-box2 address-box clearfix">
                        <div class="add_content2 add-content">
                            <h5>Quick Links</h5>
                            <ul>
                                <li><a href="https://geoxhr.com/" target="_blank">Home</a></li>
                                <li><a href="https://geoxhr.com/about-us/" target="_blank">About Us</a></li>
                                <li><a href="https://geoxhr.com/clients/" target="_blank">Clients</a></li>
                                <li><a href="https://geoxhr.com/services/" target="_blank">Services</a></li>
                                <li><a href="https://geoxhr.com/apply/" target="_blank">Apply</a></li>
                                <li><a href="https://geoxhr.com/contact-us/" target="_blank">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Copyright Footer -->
        <footer class="footer-second text-center text-white">
            <!-- Copyright -->
            <div class="text-center p-3">
                <p>© 2023 GeoxHr. All Rights Reserved. <a class="poweredbyi8is" href="https://www.i8is.com"
                        target="_blank" rel="noopener">Powered by i8is</a></p>
            </div>
            <!-- Copyright -->
        </footer>
    </footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
<script>
    document.getElementById('mobile-menu-button').onclick = function () {
        document.body.classList.toggle("slide-right");
        document.querySelector('.mobile_body_overlay').classList.toggle("mobile_body_overlay_on")
    }

    // Select the .mobile_body_overlay element
    const mobileBodyOverlay = document.querySelector('.mobile_body_overlay');

    // Add a click event listener to the .mobile_body_overlay element
    mobileBodyOverlay.addEventListener('click', function () {
        // Remove the "slide-right" class and "mobile_body_overlay_on" class
        document.body.classList.remove("slide-right");
        mobileBodyOverlay.classList.remove("mobile_body_overlay_on");
    });

    document.getElementById('mobile_menu_close_button').onclick = function () {
        document.body.classList.remove("slide-right");
        document.querySelector('.mobile_body_overlay').classList.remove("mobile_body_overlay_on")
    }

    var prevScrollpos = window.pageYOffset;
    window.onscroll = function () {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.getElementById("hide-header").style.top = "0px";
        } else {
            document.getElementById("hide-header").style.top = "-85px"; /* adjust this value to the height of your header */
        }
        prevScrollpos = currentScrollPos;
    }

</script>
</html>